* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
    background: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    position: fixed;
    /* z-index: 100; */
    top: 0;
    width: 100%;
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;

}

nav a:hover {
    background-color: #f0f0f0;
}


nav li:first-child {
    margin-right: auto;
}

footer {
    background-color: rgb(151, 148, 151);
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}

.footer {
    display: flex;
    padding: 23px 112px;
    justify-content: space-evenly;

}

.footer ul {
    list-style: none;

}

.footer div {
    width: 25%;

}

.copyRight {
    text-align: center;
}

.clickButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume {
    
    margin: 5px;
    height: 40px;
    width: 250px;
    background-color: black;
    
}

.resume :hover {
    cursor: pointer;
}

.clickButton {
    margin: 100px;
}

.resume a {
    text-decoration: none;
    color: white;
    /* color: black; */

}

.about {
    display: flex;
    justify-content: space-evenly;
    margin-top: 44px;
    height: 250px;

}
.skillHeading{
    margin-top: 100px;
    font-style: italic;
}
.bio {
    height: 100%;
    width: 100%;
    margin: 25px 20px;
    border-radius: 5%;
    opacity: 0.7;
}

.bio:hover {
    /* background-color: aliceblue; */
    opacity: 1;
}


.profileimg img {
    margin: 25px 0px;
    height: 100%;
    width: 100%;
    border-radius: 5%;
    /* opacity: 0.9; */
}

#headingIntro {
    font-size: 35px;
}


#intro {
    margin: 35px 5px;
    font-size: 20px;
}



.skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: fit-content;
}

.logo{
    margin: 50px;
}

.logo img {
    width: 18vh;
    box-sizing: border-box;
    background: transparent;
    mix-blend-mode: darken;
}


.projects{
    display: flex;
}
